/* calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))); */

/* Hide Scrollbar */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none; /* IE/Edge */
	scrollbar-width: none; /* Firefox */
}

.cursor-blink {
	opacity: 1;
	animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
