@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-wiggle: wiggle 1s ease-in-out;

  @keyframes wiggle {
    100% {
      transform: tranaslateY(0);
      opacity: 100%;
    }

    0% {
      transform: translateY(5px);
      opacity: 0;
    }
  }
}
