/* calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))); */

body {
    background-color: #283043;
}

/* ------------------------------------------------------------- about page ---------------------------------------------------------------------- */

.about {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding-top: 5rem;
}

.description-about-me {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.social-icons > span {
    margin: 10px;
    font-size: 48px;
    color: dodgerblue;
}

.myPic {
    margin: 10px;
}

.myPic > img {
    border: 10px solid #fffcab;
}

.hiContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.hiContainer > h1 {
    font-size: 5rem;
    font-weight: 700;
    color: wheat;
}

.say-something {
    margin: 10px;
    font-family: "Roboto Condensed", sans-serif;
}

.description {
    text-align: center;
}

.description > p {
    color: wheat;
    font-size: 1rem;
}
/* ------------------------------------------------------------------- project page --------------------------------------------------------------------------- */

.load {
    padding-top: 5rem;
    width: 100%;
    height: 100%;
    text-align: center;
}

.load > p {
    color: white;
    font-size: 1.2rem;
}

.projects {
    padding: 5rem 2rem 0 2rem;
}
